node_modules/
vendor/
.env
.git/
.gitignore
.gitattributes
compose.yaml
.dockerignore
*.md
.storage/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
storage/logs/
*.log
.DS_Store
Thumbs.db
.phpunit.cache/
tests/
